@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --pico-typography-spacing-vertical: 1.5rem;
  --pico-form-element-spacing-vertical: 1rem;
  --pico-form-element-spacing-horizontal: 1.25rem; 
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  font-size: 18px;
  text-align: center;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
}

a {
  color: #ff8676;
  text-decoration-color: #ff8676;
}

h1,
h2,
h3 {
  --pico-font-family: "Doto", serif;
  --pico-font-weight: 200;
  padding-top: 20px;
  padding-bottom: 20px;
}
