@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

[data-theme="dark"],
:root:not([data-theme="light"]) {
    --pico-color: #a3a3a3;
    --pico-background-color: #121212;
    --pico-typography-spacing-vertical: 1.5rem;
    --pico-form-element-spacing-vertical: 1rem;
    --pico-form-element-spacing-horizontal: 1.25rem;
    --pico-text-underline-offset: 0.5rem;
    --pico-spacing: 1.3rem;
    --pico-card-background-color: #151515;
    --pico-primary-color: 982347;
    --pico-font-family: "JetBrains Mono", monospace;
    --pico-font-weight: 400;
    --pico-font-size: 1rem;
    --pico-transition: 0;
    --dim-text: #757575;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

nav {
    margin-left: 20%;
    margin-right: 20%;
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    color: #6c9b82;
    text-decoration: none;
    text-shadow: 0px 0px 30px #6c9b82;
}
a:hover {
    text-decoration: 2.3px underline #6c9b82;
}
nav a {
    color: var(--dim-text);
    text-shadow: none;
}
nav a:hover {
    text-decoration: 2.3px underline var(--dim-text);
    opacity: 0.8;
}

nav img {
    width: 50px;
    padding-right: 10px;
}

hr {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 3rem 0;
}

article {
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    text-align: center;
    font-style: italic;
}
article h3 {
    font-weight: 600;
    font-style: normal;
}

h1,
h2,
h3 {
    --pico-font-family: "Doto", serif;
    --pico-font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    color: var(--dim-text);
    text-align: center;
    font-size: 0.9rem;
}
footer div {
    padding-bottom: 2%;
}

/* Class-specific definitions */
.intro-card-left {
    text-align: right;
}
.intro-card-right {
    text-align: left;
}
.intro-card-center {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}
.intro-card-center h3 {
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 3rem #ffffff;
}

.status {
    animation: glow 3.2s infinite;
}

.animation-shine {
    mask-image: linear-gradient(
        -75deg,
        rgba(0, 0, 0, 0.3) 30%,
        #000 50%,
        rgba(0, 0, 0, 0.6) 70%
    );
    -webkit-mask-image: linear-gradient(
        -75deg,
        rgba(0, 0, 0, 0.3) 30%,
        #000 50%,
        rgba(0, 0, 0, 0.5) 70%
    );
    mask-size: 200%;
    -webkit-mask-size: 200%;
    animation: shine 3.2s infinite;
    -webkit-animation: shine 3.2s infinite;
}

/* Custom animations */
@keyframes shine {
    from {
        mask-position: 150%;
        -webkit-mask-position: 150%;
    }

    to {
        mask-position: -50%;
        -webkit-mask-position: -50%;
    }
}

@keyframes glow {
    0% {
        opacity: 0.8;
        text-shadow: none;
    }
    50% {
        opacity: 1;
        color: #fed373;
        text-shadow: 0px 0px 30px #fed373;
    }
    100% {
        opacity: 0.8;
        text-shadow: none;
    }
}

/* Media queries */
@media (max-width: 600px) {
    .nav-large-items {
        display: none;
    }

    .intro-card-left,
    .intro-card-right,
    .intro-card-center {
        text-align: center;
    }

    ul {
        text-align: left;
    }
}
