@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

/* Pico CSS-specific customizations */
[data-theme="dark"],
:root:not([data-theme="light"]) {
    --pico-color: #a3a3a3;
    --pico-background-color: #121212;
    --pico-typography-spacing-vertical: 1.5rem;
    --pico-form-element-spacing-vertical: 1rem;
    --pico-form-element-spacing-horizontal: 1.25rem;
    --pico-text-underline-offset: 0.5rem;
    --pico-spacing: 1.5rem;
    --pico-card-background-color: var(--pico-background-color);
    --pico-primary-color: 982347;
    --pico-font-family: "JetBrains Mono", monospace;
    --pico-font-weight: 200;
    --pico-font-size: 1rem;
    --pico-transition: 0;
}

/* Root variables */
:root {
    --dot-color: #ffffff35;
    --dot-size: 1.5px;
    --dot-space: 33px;
    --dim-text: #757575;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    background:
        linear-gradient(
                90deg,
                var(--pico-background-color)
                    calc(var(--dot-space) - var(--dot-size)),
                transparent 1%
            )
            center / var(--dot-space) var(--dot-space),
        linear-gradient(
                var(--pico-background-color)
                    calc(var(--dot-space) - var(--dot-size)),
                transparent 1%
            )
            center / var(--dot-space) var(--dot-space),
        linear-gradient(
            to bottom,
            var(--pico-background-color),
            var(--dot-color) 10%,
            var(--pico-background-color) 30%,
            var(--dot-color) 70%,
            var(--pico-background-color) 100%
        );
}

nav {
    margin-left: 20%;
    margin-right: 20%;
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    color: #6c9b82;
    font-weight: 500;
    text-decoration: none;
    text-shadow: 0px 0px 30px #6c9b82;
}
a:hover {
    text-decoration: 1.5px underline #6c9b82;
}
nav a {
    color: var(--dim-text);
    text-shadow: none;
}
nav a:hover {
    text-decoration: 1.5px underline var(--dim-text);
    opacity: 0.9;
}

nav img {
    width: 50px;
    padding-right: 10px;
}

hr {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 3rem 0;
}

article {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 2rem;
    text-align: center;
    font-style: italic;
}
article h3 {
    font-weight: 600;
    font-style: normal;
}

h1,
h2,
h3 {
    --pico-font-family: "Doto", serif;
    --pico-font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    color: var(--dim-text);
    text-align: center;
    font-size: 0.9rem;
    opacity: 0.5;
}
footer div {
    padding-bottom: 2%;
}

/* Class-specific definitions */
.nav-responsive {
    display: none;
}
.disabled-hr {
    display: none; /* ironic class name ngl */
}

.intro-card-left {
    text-align: right;
}
.intro-card-right {
    text-align: left;
}
.intro-card-center {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}
.intro-card-center h3 {
    text-align: center;
}
.intro-card-center-projects a {
    color: unset;
    text-shadow: unset;
    text-decoration: unset;
}
.intro-card-project-badge {
    padding: 1rem 1.5rem;
    border: 1.5px solid #75757530;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.01)
    );
    box-shadow: 0px 10px 20px var(--pico-background-color);
    border-radius: 1rem;
    backdrop-filter: blur(1.7px);
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    transition: 0.1s ease-in-out;
    font-family: "Doto", serif;
    font-size: 1rem;
    font-weight: 800;
    opacity: 0.7;
    text-align: center;
}
.intro-card-project-badge:hover {
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 0px 20px 20px #0c0c0c60;
    color: #f3f3f3;
    text-shadow: 0px 0px 30px #f3f3f3;
    opacity: 1;
}
.intro-card-project-name {
    text-align: left;
}
.intro-card-project-uses {
    text-align: right;
}
.intro-card-project-uses i {
    font-size: 1.3rem;
    margin-right: 0.5rem;
}

.status {
    animation: glow 3.2s infinite;
}

.animation-shine {
    mask-image: linear-gradient(
        -75deg,
        rgba(0, 0, 0, 0.3) 30%,
        #000 50%,
        rgba(0, 0, 0, 0.6) 70%
    );
    -webkit-mask-image: linear-gradient(
        -75deg,
        rgba(0, 0, 0, 0.3) 30%,
        #000 50%,
        rgba(0, 0, 0, 0.5) 70%
    );
    mask-size: 200%;
    -webkit-mask-size: 200%;
    animation: shine 3.2s infinite;
    -webkit-animation: shine 3.2s infinite;
}

/* Custom animations */
@keyframes shine {
    from {
        mask-position: 150%;
        -webkit-mask-position: 150%;
    }

    to {
        mask-position: -50%;
        -webkit-mask-position: -50%;
    }
}

@keyframes glow {
    0% {
        opacity: 0.8;
        text-shadow: none;
    }
    50% {
        opacity: 1;
        color: #fed373;
        text-shadow: 0px 0px 30px #fed373;
    }
    100% {
        opacity: 0.8;
        text-shadow: none;
    }
}
/* Media queries */
@media (max-width: 1024px) and (min-width: 768px) {
    .intro-card-project-uses i {
        display: none;
    }
}

@media (max-width: 768px) {
    :root {
        --dot-space: 50px;
    }

    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
        text-align: center;
        padding: 1rem;
        margin-top: 1rem;
    }
    .nav-responsive a {
        color: unset;
        text-shadow: unset;
        text-decoration: unset;
    }
    .nav-responsive img {
        width: 50px;
        margin-right: 10px;
    }
    .nav-responsive i {
        padding: 2rem;
        font-size: 2rem;
        border: 1.5px solid #75757530;
        text-decoration: none;
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.05),
            rgba(255, 255, 255, 0.01)
        );
        box-shadow: 0px 10px 20px var(--pico-background-color);
        border-radius: 1rem;
        backdrop-filter: blur(1.7px);
        ze: 2rem;
        transition: 0.1s ease-in-out;
        opacity: 0.7;
    }
    .nav-responsive i:hover {
        transform: translateY(-5px);
        cursor: pointer;
        box-shadow: 0px 20px 20px #0c0c0c60;
        color: #f3f3f3;
        text-shadow: 0px 0px 30px #f3f3f3;
        opacity: 1;
    }

    .disabled-hr {
        display: block;
    }

    .intro-card-left,
    .intro-card-right,
    .intro-card-center {
        text-align: center;
    }

    ul {
        text-align: left;
    }
}
