{% extends "base.html" %} {% block pagetitle %}
<title>{{ term.name | title }} Tag | HitBlast's Blog</title>
<meta
    property="og:title"
    content="{{ term.name | title }} Tag | HitBlast's Blog"
/>
<meta
    property="og:description"
    content="Blog posts tagged with {{ term.name }}"
/>
<meta name="description" content="Blog posts tagged with {{ term.name }}" />
{% endblock pagetitle %} {% block content %}
<a href="{{ get_url(path='@/blog/_index.md') }}">&laquo; Back to all posts</a>
<br /><br />

<h2>filter: <span class="single-tag-name">#{{ term.name }}</span></h2>
<hr />

{% if term.pages | length == 0 %}
<p class="center">No blog posts found with this tag.</p>
{% else %} {% for page in term.pages %}
<div class="blog-post">
    <div>
        {{ loop.index0 }}.
        <span class="blog-post-extension">
            {{ page.date | date(format="%b %d, %Y") }}
        </span>
    </div>

    <a class="blog-post-title" href="{{ page.permalink | safe }}"
        >{{ page.title }}</a
    >
    <p>{{ page.description }}</p>
</div>
{% endfor %} {% endif %} {% endblock content %}
