{% extends "base.html" %} {% block pagetitle %}
<title>{{ term.name | title }} Tag | HitBlast's Blog</title>
<meta
    property="og:title"
    content="{{ term.name | title }} Tag | HitBlast's Blog"
/>
<meta
    property="og:description"
    content="Blog posts tagged with {{ term.name }}"
/>
<meta name="description" content="Blog posts tagged with {{ term.name }}" />
{% endblock pagetitle %} {% block content %}
<a href="{{ get_url(path='@/blogs/_index.md') }}">&laquo; Back to all posts</a>
<br /><br />

<h2>filter: <span class="single-tag-name">#{{ term.name }}</span></h2>
<hr />

{% if term.pages | length == 0 %}
<p class="center">No blog posts found with this tag.</p>
{% else %} {% for page in term.pages %}
<div class="blog-post">
    <div class="blog-post-right">
        Posted on {{ page.date | date(format="%b %d, %Y") }}
    </div>
    <div class="blog-post-left">
        <strong>$</strong>
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </div>

    {{ page.description }} {% if page.taxonomies.tags %} {% for tag in
    page.taxonomies.tags %}
    <a class="tag-name" href="{{ get_url(path='tags/' ~ tag) }}" class="tag"
        >#{{ tag }}</a
    >{% if not loop.last %} {% endif %} {% endfor %} {% endif %}
</div>
{% endfor %} {% endif %} {% endblock content %}
