/* Font Faces */
@font-face {
    font-family: "Departure";
    src: url("/webfonts/DepartureMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Monocraft";
    src: url("/webfonts/Monocraft-SemiBold.ttf") format("truetype");
}

/* Root modifiers (for Pico CSS especially) */
:root,
:host {
    color-scheme: dark;
    --pico-border-radius: 0.5rem;
    --pico-text-underline-offset: 0.5rem;
    --pico-typography-spacing-vertical: 1.5rem;
    --pico-transition: 0;
    --pico-form-element-spacing-vertical: 1rem;
    --pico-spacing: 1.2rem;
    --pico-form-element-spacing-horizontal: 1.25rem;
    --pico-font-family: "Departure", monospace;
    --pico-font-family-monospace: "Monocraft", monospace;
    --font-size-base: 0.8rem;
    --font-size-small: 0.7rem;
    --font-size-large: 0.95rem;
    --pico-background-color: rgb(18, 18, 18);
    --pico-color: #d1d1d1;
    --pico-text-selection-color: rgba(201, 37, 37, 0.5);
    --pico-muted-color: #a0a0a0;
    --pico-muted-border-color: #3a3f44;
    --pico-primary: #ec6964;
    --pico-primary-background: #ec6964;
    --pico-secondary: #9664ec;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-hover: #ec9664;
    --pico-primary-hover-background: #ec9664;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-inverse: #fff;
    --pico-h1-color: #e0e0e0;
    --pico-h2-color: #e0e0e0;
    --pico-h3-color: #d0d0d0;
    --pico-h4-color: #c0c0c0;
    --pico-h5-color: #b0b0b0;
    --pico-h6-color: #a0a0a0;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: rgba(255, 255, 255, 0.05);
    --pico-code-background-color: #222;
    --pico-code-color: var(--pico-color);
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: var(--pico-background-color);
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #2a2a35;
    --pico-modal-overlay-background-color: rgba(0, 0, 0, 0.75);
    --pico-tooltip-background-color: #e0e0e0;
    --pico-tooltip-color: #2a2a35;
}

/* Property Overrides (Pico CSS) */
[data-tooltip]::before,
[data-tooltip]::after {
    font-weight: bold;
}

/* Global Element */
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-size: var(--font-size-base);
    margin: 0 auto;
    padding: 0;
    position: relative;
    min-height: 100vh;
    background-image:
        linear-gradient(135deg, #0e0e0e 25%, transparent 25%),
        linear-gradient(225deg, #0e0e0e 25%, transparent 25%),
        linear-gradient(45deg, #0e0e0e 25%, transparent 25%),
        linear-gradient(315deg, #0e0e0e 25%, transparent 25%);
    background-position:
        10px 0,
        10px 0,
        0 0,
        0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
}

blockquote {
    border: none;
    margin-left: 20%;
    text-align: justify;
    font-style: italic;
    color: dimgray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-bottom: 1rem;
}

section {
    margin-bottom: 4rem;
}

a {
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    border-radius: 0px;
    background-color: var(--pico-primary-hover-background);
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    color: #0c0c0c;
}

button,
button:hover {
    background-color: unset;
    border: unset;
}

/* Pixelated Images */
#blep,
#bini,
#postcard {
    image-rendering: pixelated;
}

#blep,
#bini {
    width: 150px;
}
#blep:hover {
    cursor: grab;
}

#postcard {
    scale: 130%;
    margin-left: 0.2rem;
    position: relative;
}
#postcard:before {
    content: "";
    position: absolute;
    inset: -5rem;
}
#postcard:hover {
    rotate: -5deg;
    scale: 170%;
}

/* Utility Classes */
.faded {
    opacity: 0.7;
}

/* Header (Top Name) */
header a {
    color: inherit;
}
header a:hover {
    color: inherit;
    background: none;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
}

/* Icons */
.icon svg {
    width: 24px;
    height: 24px;
    color: white;
    image-rendering: pixelated;
}

.icon:hover {
    cursor: pointer;
}

.icon svg path {
    fill: currentColor;
}

.icon-link:hover {
    background-color: unset;
}

.icon-link:hover .icon svg {
    color: var(--pico-primary-hover);
}

/* Portfolio Projects */
.portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-start;
}

.project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 3px solid #000;
    background-color: #0f0f0f;
    padding: 1.3rem;
    border-radius: var(--pico-border-radius);
    flex: 1 1 calc(50% - 0.75rem);
    min-width: 300px;
    outline: 8px solid #22222220;
    outline-offset: -8px;
}

.project-card .project-card-content {
    flex: 1;
}

.project-card .project-card-footer {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.project-card:hover {
    cursor: pointer;
    outline: 8px solid #22222230;
    transform: translateY(-8px);
}

.project-card:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 10px;
    background:
        repeating-linear-gradient(
            60deg,
            transparent,
            transparent 5px,
            black 5px,
            black 10px
        ),
        repeating-linear-gradient(
            120deg,
            transparent,
            transparent 5px,
            black 5px,
            black 10px
        );
    background-blend-mode: multiply;
    border: none;
}

/* Neighbours Section */
#neighbours :not(.neighbour-cards-tag) {
    color: var(--pico-secondary);
}

.neighbour-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.neighbour-card img {
    image-rendering: pixelated;
    scale: 150%;
    display: block;
}

.neighbour-cards-tag {
    color: #0e0e0e;
    text-align: center;
    background-color: var(--pico-secondary);
    margin-bottom: 0;
    position: absolute;
    min-width: 15%;
    font-weight: bold;
}

.neighbour-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0;
    border: 1px solid var(--pico-secondary);
}

.neighbour-card {
    padding: 2rem;
    border: 1px solid var(--pico-secondary);
}

.neighbour-cards a:hover {
    background-color: unset;
}

/* Pagination and Footer */
.pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}

footer,
.before-footer {
    font-size: var(--font-size-small);
    color: #555;
    text-align: center;
}

/* Blog Posts */
.blog-post {
    text-align: left;
}

.blog-post strong {
    font-size: 1.7rem;
    font-style: italic;
}

.blog-post-title {
    font-size: var(--font-size-large);
}

.blog-post-extension {
    opacity: 0.5;
    font-size: var(--font-size-small);
}

/* Blog Entry */
.blog-entry-title {
    text-align: center;
    margin-top: 1rem;
    border: 1px solid var(--pico-secondary);
    padding: 2rem;
    padding-bottom: 0;
}

.blog-entry-footer {
    font-size: var(--font-size-small);
    margin-top: 1rem;
}

.blog-entry-content {
    line-height: 1.6;
}

/* Tag Names */
.tag-name {
    font-size: var(--font-size-small);
    color: dimgray;
}
.tag-name:hover {
    background: initial;
    color: gray;
}
.single-tag-name {
    color: #0c0c0c;
    background-color: var(--pico-primary-hover);
}

/* Media Queries */
@media (max-width: 768px) {
    body {
        width: 100%;
    }

    .links {
        margin-bottom: 1rem;
    }
    .links i {
        font-size: 1.3rem;
    }

    .blog-post {
        padding: 0.4rem 0;
    }

    .portfolio-projects {
        flex-direction: column;
    }

    .project-card {
        flex: 1 1 100%;
        min-width: auto;
    }

    .blog-entry {
        width: 100%;
    }

    article {
        padding: 1.5rem;
    }

    dialog {
        display: none;
    }
}
