<!doctype html>
<html lang="en" data-theme="dark">
    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- HTML Meta Tags -->
        {% block pagetitle %}
        <title>Anindya Shiddhartha</title>
        {% endblock pagetitle %}

        <meta
            name="description"
            content="My personal website and blog. No strings attached."
        />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://hitblast.github.io" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Anindya Shiddhartha" />
        <meta
            property="og:description"
            content="My personal website and blog. No strings attached."
        />
        <meta
            property="og:image"
            content="{{ get_url(path='images/meta.png', trailing_slash=false) }}"
        />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="hitblast.github.io" />
        <meta property="twitter:url" content="https://hitblast.github.io" />
        <meta name="twitter:title" content="Anindya Shiddhartha" />
        <meta
            name="twitter:description"
            content="My personal website and blog. No strings attached."
        />
        <meta
            name="twitter:image"
            content="{{ get_url(path='images/meta.png', trailing_slash=false) }}"
        />

        <!-- Icon -->
        <link
            rel="icon"
            type="image/png"
            href="{{ get_url(path='images/logo.png', trailing_slash=false) }}"
        />

        <!-- CSS -->
        <link
            rel="stylesheet"
            href="{{ get_url(path='css/pico.css', trailing_slash=false, cachebust=true) | safe }}"
        />

        <link
            rel="stylesheet"
            href="{{ get_url(path='css/all.min.css', trailing_slash=false, cachebust=true) | safe }}"
        />

        <link
            rel="stylesheet"
            href="{{ get_url(path='css/styles.css', trailing_slash=false, cachebust=true) | safe }}"
        />
    </head>
    <body>
        <header class="container">
            <nav>
                <ul>
                    <li>
                        <a href="{{ get_url(path='/') }}"
                            >anindya shiddhartha</a
                        >
                    </li>
                </ul>
                <ul>
                    <li>
                        <a
                            style="
                                text-decoration-line: underline;
                                text-decoration-style: wavy;
                                text-decoration-color: inherit;
                            "
                            href="https://www.sudancoup.com"
                            >#EndSudanBlackout</a
                        >
                    </li>
                </ul>
            </nav>
        </header>

        <main class="container">
            {% block content %} {% endblock content %}
        </main>

        <footer class="container">
            <a href="https://github.com/hitblast/hitblast.github.io"
                >View Page Source</a
            ><br />
            &copy; 2025 Anindya Shiddhartha. All rights reserved.<br />
            Made with love and tons of git commits.<br />
            Built using Zola ({{ now() | date(format="%Y-%m-%d %H:%M:%S") }}).
        </footer>

        <script src="{{ get_url(path='js/script.js', trailing_slash=false, cachebust=true) | safe }}"></script>
    </body>
</html>
