<!doctype html>
<html lang="en">
    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- HTML Meta Tags -->
        {% block pagetitle %}
        <title>Anindya Shiddhartha | HitBlast</title>
        {% endblock pagetitle %}

        <meta
            name="description"
            content="My personal website and blog. No strings attached."
        />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://hitblast.github.io" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Anindya Shiddhartha (HitBlast)" />
        <meta
            property="og:description"
            content="My personal website and blog. No strings attached."
        />
        <meta
            property="og:image"
            content="{{ get_url(path='images/meta.png', trailing_slash=false) }}"
        />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="hitblast.github.io" />
        <meta property="twitter:url" content="https://hitblast.github.io" />
        <meta name="twitter:title" content="Anindya Shiddhartha (HitBlast)" />
        <meta
            name="twitter:description"
            content="My personal website and blog. No strings attached."
        />
        <meta
            name="twitter:image"
            content="{{ get_url(path='images/meta.png', trailing_slash=false) }}"
        />

        <!-- Icon -->
        <link
            rel="icon"
            type="image/png"
            href="{{ get_url(path='images/logo.png', trailing_slash=false) }}"
        />

        <!-- CSS -->
        <link
            rel="stylesheet"
            href="{{ get_url(path='css/pico.min.css', trailing_slash=true, cachebust=true) | safe }}"
        />

        <link
            rel="stylesheet"
            href="{{ get_url(path='css/styles.css', trailing_slash=false, cachebust=true) | safe }}"
        />

        <!-- Scripts -->
        <script
            src="https://kit.fontawesome.com/4f5ece0701.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <header class="container">
            <nav>
                <ul>
                    <li class="name">
                        <a href="{{ get_url(path='/') }}"
                            >anindya shiddhartha</a
                        >
                    </li>
                </ul>

                <ul class="desktop-nav">
                    <li class="desktop-nav-blog">
                        <a href="{{ get_url(path='@/blogs/_index.md') }}"
                            ><small>[blog]</small></a
                        >
                    </li>
                    <li class="desktop-nav-rss">
                        <a
                            href="{{ get_url(path='rss.xml', trailing_slash=false) }}"
                            ><small>[rss]</small></a
                        >
                    </li>
                    <li class="desktop-nav-github">
                        <a href="https://github.com/hitblast" target="_blank"
                            ><small>[github]</small></a
                        >
                    </li>
                    <li class="desktop-nav-mastodon">
                        <a
                            href="https://fosstodon.org/@hitblast"
                            target="_blank"
                            ><small>[mastodon]</small></a
                        >
                    </li>
                    <li class="desktop-nav-linkedin">
                        <a
                            href="https://linkedin.com/in/hitblast"
                            target="_blank"
                            ><small>[linkedin]</small></a
                        >
                    </li>
                    <li class="desktop-nav-bluesky">
                        <a
                            href="https://bsky.app/profile/hitblast.github.io"
                            target="_blank"
                            ><small>[bluesky]</small></a
                        >
                    </li>
                </ul>

                <ul class="mobile-nav">
                    <li>
                        <a href="{{ get_url(path='@/blogs/_index.md') }}"
                            ><small>[blog]</small></a
                        >
                    </li>
                    <li>
                        <a
                            href="{{ get_url(path='rss.xml', trailing_slash=false) }}"
                            ><small>[rss]</small></a
                        >
                    </li>
                    <li>
                        <a
                            href="https://fosstodon.org/@hitblast"
                            target="_blank"
                            ><small>[mstd]</small></a
                        >
                    </li>
                    <li>
                        <a
                            href="https://linkedin.com/in/hitblast"
                            target="_blank"
                            ><small>[lnkd]</small></a
                        >
                    </li>
                    <li>
                        <a href="https://github.com/hitblast" target="_blank"
                            ><small>[git]</small></a
                        >
                    </li>
                    <li>
                        <a
                            href="https://bsky.app/profile/hitblast.github.io"
                            target="_blank"
                            ><small>[bsky]</small></a
                        >
                    </li>
                </ul>
            </nav>
        </header>

        {% block content %} {% endblock content %}

        <footer class="footer">
            <div class="container">
                <p>
                    &copy; 2025 HitBlast. All rights reserved.<br />
                    Made with love and tons of git commits.<br />
                    Built using Zola. | Last built on: {{ now() |
                    date(format="%Y-%m-%d %H:%M:%S") }}.
                </p>
            </div>
        </footer>

        <script src="{{ get_url(path='js/script.js', trailing_slash=false, cachebust=true) | safe }}"></script>
    </body>
</html>
