{% extends "base.html" %} {% block metadesc %}
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.description }}" />
{% endblock metadesc %} {% block content %}
<a href="/blog/">&laquo; Back to all posts</a>
<div>
    <div class="blog-entry-title">
        <h1>
            <span
                class="icon"
                data-src="{{ get_url(path='svg/quote-left.svg', trailing_slash=false, cachebust=true) }}"
            ></span>
            {{ page.title }}
            <span
                class="icon"
                data-src="{{ get_url(path='svg/quote-right.svg', trailing_slash=false, cachebust=true) }}"
            ></span>
        </h1>
        <p>{{ page.description }}</p>
    </div>
    <p class="blog-entry-footer">
        {{ page.date | date(format="%b %d, %Y") }};
        <span
            id="copy-btn"
            data-copyable="{{ current_url | safe }}"
            class="icon"
            data-src="{{ get_url(path='svg/link.svg', trailing_slash=false, cachebust=true) }}"
        ></span>
        {% if page.taxonomies.tags %} {% for tag in page.taxonomies.tags %}
        <a href="{{ get_url(path='tags/' ~ tag) }}" class="tag-name"
            >#{{ tag }}</a
        >{% if not loop.last %} {% endif %} {% endfor %} {% endif %}
    </p>
</div>
<div class="blog-entry-content">{{ page.content | safe }}</div>

<br /><br />
<center>and finally, a section for you ^w^</center>
<script
    src="https://utteranc.es/client.js"
    repo="hitblast/hitblast.github.io"
    issue-term="title"
    label="blog-entry"
    theme="github-dark"
    crossorigin="anonymous"
    async
></script>
{% endblock content %}
