{% extends "base.html" %} {% block pagetitle %}
<title>HitBlast's Blog</title>
  <meta property="og:title" content="HitBlast's Blog">
  <meta property="og:description" content="Blog entries related to programming, culture, life and more.">
  <meta name="description" content="Blog entries related to programming, culture, life and more.">
{% endblock pagetitle %} {% block content %}
<div class="container">
    <h1 class="center">blog</h1>
    <hr />

    {% if paginator.pages|length == 0 %}
    <p class="center">No blog posts yet. Check back soon!</p>
    {% else %} {% for page in paginator.pages %}
    <div class="blog-post">
        <div class="blog-post-left">
            <strong>#</strong>
            <a data-tooltip="(view post)" href="{{ page.permalink | safe }}"
                >{{ page.title }}</a
            >
        </div>
        <div class="blog-post-right">
            Posted on {{ page.date | date(format="%b %d, %Y") }} {% if
            page.authors %} {% endif %}
        </div>
        <p>{{ page.description }}</p>
    </div>
    {% endfor %} {% endif %}

    <div class="pagination">
        {% if paginator.previous %}
        <a href="{{ paginator.previous }}" class="button">&laquo; Previous</a>
        {% endif %}

        <span
            >Page {{ paginator.current_index }} of {{ paginator.number_pagers
            }}</span
        >

        {% if paginator.next %}
        <a href="{{ paginator.next }}" class="button">Next &raquo;</a>
        {% endif %}
    </div>

    <div class="center" style="margin-top: 2rem">
        <a href="/" class="button">Back to Home</a>
    </div>
</div>
{% endblock content %}
