{% extends "base.html" %} {% block pagetitle %}
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}" />

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ current_url | safe }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }} | HitBlast's Blog" />
<meta property="og:description" content="{{ page.description }}" />
<meta
    property="og:image"
    content="{{ get_url(path='images/meta.png', trailing_slash=false) }}"
/>

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="hitblast.github.io" />
<meta property="twitter:url" content="{{ current_url | safe }}" />
<meta name="twitter:title" content="{{ page.title }} | HitBlast's Blog" />
<meta name="twitter:description" content="{{ page.description }}" />
<meta
    name="twitter:image"
    content="{{ get_url(path='images/meta.png', trailing_slash=false) }}"
/>
{% endblock pagetitle %} {% block content %}
<div class="container">
    <div class="blog-display">
        <a href="/blogs">&laquo; Back to all posts</a>
        <div class="blog-display-title">
            <h1 class="randomly-glitched">{{ page.title }}</h1>
            <p>{{ page.description }}</p>
            <p class="blog-display-footer">
                <i class="fa-solid fa-calendar"></i>
                Published: {{ page.date | date(format="%b %d, %Y") }} {% if
                page.taxonomies.tags %}
                <br />
                {% for tag in page.taxonomies.tags %}
                <a href="{{ get_url(path='tags/' ~ tag) }}" class="tag"
                    >#{{ tag }}</a
                >{% if not loop.last %} {% endif %} {% endfor %} {% endif %}
            </p>
        </div>
        <hr />
        <div class="blog-display-content">{{ page.content | safe }}</div>
        <hr />
        <script
            src="https://utteranc.es/client.js"
            repo="hitblast/hitblast.github.io"
            issue-term="title"
            label="blog-entry"
            theme="github-dark"
            crossorigin="anonymous"
            async
        ></script>
    </div>
</div>
{% endblock content %}
