{% extends "base.html" %} {% block pagetitle %}
<title>Anindya's Blog</title>
<meta property="og:title" content="Anindya's Blog" />
<meta
    property="og:description"
    content="Blog entries related to programming, culture, life and more."
/>
<meta
    name="description"
    content="Blog entries related to programming, culture, life and more."
/>
{% endblock pagetitle %} {% block content %}
<br />
ABOUT_BLOG.md
<br /><br />
<div style="text-align: justify">
    I write about experiences, guides and much more here. Do keep in mind that
    some content might not align with everyone's tastes. I might also write tech
    content which may be experimental in nature. Hopefully you'll have a good
    time reading ^w^.
</div>
<br />
---
<br />

{% if paginator.pages|length == 0 %}
<p class="center">No blog posts yet. Check back soon!</p>
{% else %} {% for page in paginator.pages %}
<div class="blog-post">
    <div>
        <strong>{{ loop.index0 }}</strong
        ><span class="blog-post-extension">
            {{ page.date | date(format="%b %d, %Y") }}
        </span>
    </div>

    <a class="blog-post-title" href="{{ page.permalink | safe }}"
        >{{ page.title }}</a
    >
    <p>{{ page.description }}</p>
</div>
{% endfor %} {% endif %}

<div class="pagination">
    {% if paginator.previous %}
    <a href="{{ paginator.previous }}" class="button">&laquo; Previous</a>
    {% endif %}

    <span
        >Page {{ paginator.current_index }} of {{ paginator.number_pagers
        }}</span
    >

    {% if paginator.next %}
    <a href="{{ paginator.next }}" class="button">Next &raquo;</a>
    {% endif %}
</div>

<div class="center" style="margin-top: 2rem">
    <a href="/" class="button">Back to Home</a>
</div>
{% endblock content %}
