{% extends "base.html" %} {% block content %}
<main class="container">
    <section id="blep">
        <center>
            <span id="random-message"></span>
            <img
                id="blep-image"
                src="{{ get_url(path='images/blep.gif') }}"
                data-happy-src="{{ get_url(path='images/blep_happy.gif') }}"
                width="150px"
            />
        </center>
    </section>

    <section id="blog">
        {% set blogs = get_section(path="blogs/_index.md") %} {% set pages =
        blogs.pages %} {% if pages | length == 0 %}
        <p>No blog posts yet. Check back soon!</p>
        {% else %} {% for page in pages | slice(end=3) %}
        <div class="blog-post">
            <div class="blog-post-left">
                <strong>#</strong>
                <a href="{{ page.permalink | safe }}" data-tooltip="(view post)"
                    >{{ page.title }}</a
                >
            </div>
            <div class="blog-post-right">
                Posted on {{ page.date | date(format="%b %d, %Y") }} {% if
                page.authors %} by {{ page.authors[0] }} {% endif %}
            </div>
            <p>{{ page.description }}</p>
            {% if page.taxonomies.tags %}
            <div class="blog-post-tags">
                <i class="fa-solid fa-tags"></i>
                {% for tag in page.taxonomies.tags %}
                <a href="{{ get_url(path='tags/' ~ tag) }}" class="tag"
                    >{{ tag }}</a
                >{% if not loop.last %} {% endif %} {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <div class="center">
            Care to read more?
            <a
                href="{{ get_url(path='@/blogs/_index.md') }}"
                data-tooltip="(visit blog page)"
                class="button"
                >View all >>></a
            >
        </div>
        {% endif %}
    </section>

    <section id="intro">
        <div class="grid">
            <div>
                <h1 style="text-align: right">
                    Performance-oriented
                    <span class="warn-highlight glitched">software</span> &
                    <span class="warn-highlight glitched">everything</span> in
                    between.
                </h1>
            </div>
            <div>
                <p>
                    I'm Anindya, and I love to create software which are precise
                    & performant. I
                    <span class="pretty-highlight">specialize</span> in dev
                    tooling and app development, and I've been in the industry
                    for over
                    <span class="pretty-highlight">7 years.</span>
                    <br /><br />
                    I'm also
                    <a
                        data-tooltip="(redirects somewhere?)"
                        data-placement="bottom"
                        href="https://www.media.mit.edu/publications/your-brain-on-chatgpt/"
                        >not a very big fan of LLMs.</a
                    >
                </p>
            </div>
        </div>
    </section>

    <section id="stack">
        <div class="stack-items">
            <div class="stack-item"><i class="fa-brands fa-rust"></i></div>
            <div class="stack-item"><i class="fa-brands fa-python"></i></div>
            <div class="stack-item"><i class="fa-brands fa-flutter"></i></div>
            <div class="stack-item"><i class="fa-brands fa-swift"></i></div>
            <div class="stack-item">
                <i class="fa-brands fa-git"></i> <span>+</span>
                <i class="fa-brands fa-github"></i>
            </div>
        </div>
    </section>

    <section id="config">
        <h3 class="center faded">
            <i class="fa-solid fa-wrench"></i> config repo
        </h3>
        <p class="center">
            <code class="copyable">
                git clone https://github.com/hitblast/dotfiles.git
            </code>
        </p>
    </section>

    <section id="portfolio">
        <h3 class="section-title">
            <i class="fa-solid fa-star-of-life"></i> featured
        </h3>
        <div class="portfolio-projects">
            <div class="project-card">
                <h4>cutler</h4>
                <p>
                    🍺 cutler is a powerful, declarative settings manager CLI
                    for your Mac. Inspired by the Nix Package Manager.
                </p>
                <p class="faded">
                    Technologies: <span class="warn-highlight">Rust</span>
                </p>
                <a
                    href="https://hitblast.github.io/cutler/"
                    data-tooltip="(redirects to website)"
                    class="button"
                    >View Project</a
                >
                <dialog>
                    <article>
                        <header>
                            <button
                                class="close-dialog"
                                aria-label="Close"
                                rel="prev"
                            ></button>
                            <p>
                                <strong>quick-install.md</strong>
                            </p>
                        </header>
                        <p>
                            One of my favorite hobby projects with
                            <a href="https://crates.io/crates/cutler"
                                >20,000+ downloads on crates.io</a
                            >. Try it out by simply typing one of these commands
                            below. You can also check out
                            <a href="https://hitblast.github.io/cutler/book"
                                >"The cutler Cookbook"</a
                            >
                            for in-depth documentation.
                        </p>
                        <h4>homebrew</h4>
                        <code class="copyable"
                            >brew install hitblast/tap/cutler</code
                        >
                        <h4>cargo</h4>
                        <code class="copyable">cargo install cutler</code>
                        <h4>mise-en-place</h4>
                        <code class="copyable">mise use -g cargo:cutler</code>
                    </article>
                </dialog>
            </div>

            <div class="project-card">
                <h4>avro.py</h4>
                <p>
                    A modern
                    <span class="pretty-highlight">Pythonic</span>
                    implementation of the popular Bengali phonetic-typing
                    software Avro Phonetic.
                </p>
                <p class="faded">Technologies: Python</p>
                <a
                    href="https://github.com/hitblast/avro.py"
                    data-tooltip="(redirects to repo)"
                    class="button"
                    >View Project</a
                >
                <dialog>
                    <article>
                        <header>
                            <button
                                class="close-dialog"
                                aria-label="Close"
                                rel="prev"
                            ></button>
                            <p>
                                <strong>quick-install.md</strong>
                            </p>
                        </header>
                        <p>
                            My
                            <span class="pretty-highlight"
                                >largest Python library</span
                            >
                            project yet, having over
                            <a
                                href="https://pepy.tech/projects/avro-py?timeRange=threeMonths&category=version&includeCIDownloads=true&granularity=daily&viewType=line&versions=2025.5.13%2C2025.3.7%2C2025.3.6"
                                >200,000+ downloads on PyPI</a
                            >. You can also install it using:
                        </p>
                        <h4>pip</h4>
                        <code class="copyable">pip install avro.py</code>
                        <h4>uv (add to project)</h4>
                        <code class="copyable">uv add avro.py</code>
                    </article>
                </dialog>
            </div>

            <div class="project-card">
                <h4>Alter</h4>
                <p>
                    Alter is a minimal
                    <span class="pretty-highlight">macOS app</span> which can be
                    used to customize your app icons with ease.
                </p>
                <p class="faded">Technologies: Flutter, Dart, Swift</p>
                <a
                    href="https://hitblast.github.io/Alter/"
                    data-tooltip="(redirects to website)"
                    class="button"
                    >View Project</a
                >
                <dialog>
                    <article>
                        <header>
                            <button
                                class="close-dialog"
                                aria-label="Close"
                                rel="prev"
                            ></button>
                            <p>
                                <strong>quick-install.md</strong>
                            </p>
                        </header>
                        <p>
                            My
                            <span class="pretty-highlight"
                                >first macOS app</span
                            >
                            which taught me about plenty of things like altering
                            <code>defaults</code>, System Integrity Protection,
                            CFBundle attributes, all while I tried to make a
                            <span class="pretty-highlight">business logic</span>
                            for changing other app icons. <br /><br />
                            Install it using:
                        </p>
                        <h4>homebrew</h4>
                        <code class="copyable"
                            >brew install --cask hitblast/tap/alter</code
                        >
                    </article>
                </dialog>
            </div>

            <div class="project-card">
                <h4>IgKnite</h4>
                <p>
                    Unified, swiss-grade moderation & music bot for Discord.
                    Includes async I/O and a stable core.
                </p>
                <p class="faded">
                    Technologies: discord.py, asyncio, ffmpeg, Docker
                </p>
                <a
                    href="https://github.com/hitblast/IgKnite"
                    data-tooltip="(redirects to repo)"
                    class="button"
                    >View Project</a
                >
                <dialog>
                    <article>
                        <header>
                            <button
                                class="close-dialog"
                                aria-label="Close"
                                rel="prev"
                            ></button>
                            <p>
                                <strong>quick-install.md</strong>
                            </p>
                        </header>
                        <p>
                            <span class="warn-highlight"
                                >No quick-install for this one!</span
                            >
                            I suggest you close this dialog and check out the
                            project from its GitHub repo instead :P
                        </p>
                    </article>
                </dialog>
            </div>
        </div>
    </section>

    <section id="homebrew-tap">
        <h3 class="center faded">
            <i class="fa-solid fa-cube"></i> homebrew tap (macOS)
        </h3>
        <div class="center">
            <code class="copyable">brew tap hitblast/tap</code>
        </div>
    </section>

    <section id="boop">
        <center>
            <span id="random-message"></span>
            <img
                id="boop-image"
                src="{{ get_url(path='images/boop.gif') }}"
                data-happy-src="{{ get_url(path='images/boop.gif') }}"
                width="150px"
            />
        </center>
    </section>
</main>
{% endblock content %}
