{% extends "base.html" %} {% block content %}
<main class="container">
    <section id="blep">
        <center>
            <span id="random-message"></span>
            <img
                id="blep-image"
                src="{{ get_url(path='images/blep.gif') }}"
                data-happy-src="{{ get_url(path='images/blep_happy.gif') }}"
                width="150px"
            />
        </center>

        <link
            rel="preload"
            as="image"
            href="{{ get_url(path='images/blep.gif') }}"
        />
        <link
            rel="preload"
            as="image"
            href="{{ get_url(path='images/blep_happy.gif') }}"
        />
    </section>

    <section id="blog">
        <h1>~ good reads</h1>

        {% set blogs = get_section(path="blogs/_index.md") %} {% set pages =
        blogs.pages %} {% if pages | length == 0 %}
        <p>No blog posts yet. Check back soon!</p>
        {% else %} {% for page in pages | slice(end=3) %}
        <div class="blog-post">
            <div class="blog-post-left">
                <strong>$</strong>
                <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
            </div>
            <p>{{ page.description }}</p>
        </div>
        {% endfor %}

        <div class="center">
            Care to read more?
            <a href="{{ get_url(path='@/blogs/_index.md') }}" class="button"
                >View all >>></a
            >
        </div>
        {% endif %}
    </section>

    <section id="intro">
        <div class="grid">
            <div>
                <h1 style="text-align: right">
                    <i class="fa-solid fa-ghost"></i> More like
                    <span class="warn-highlight glitched">an overview</span>
                    and definitely not a hero section
                    <span class="pretty-highlight glitched">=></span>
                </h1>
            </div>

            <div>
                <p>
                    I'm shocked by how
                    <a
                        href="https://www.media.mit.edu/publications/your-brain-on-chatgpt/"
                        >LLMs introduce brain fog</a
                    >.<br /><br />
                    Anyways, I'm Anindya, and this website should give you a
                    heads-up on my work.
                    <br /><br />Tried changing a sub-optimal, generalistic
                    portfolio to something that's fun I guess? Oh, I'm also not
                    in favor of vendor lock-ins.
                </p>
            </div>
        </div>
    </section>

    <section id="config">
        <h3 class="center faded">
            <i class="fa-solid fa-wrench"></i> my machine config
        </h3>
        <p class="center">
            <code class="copyable">
                git clone https://github.com/hitblast/dotfiles.git
            </code>
            <br /><br />
            or,
            <a href="https://github.com/hitblast/dotfiles">view on GitHub</a>
        </p>
    </section>

    <section id="portfolio">
        <h3 class="section-title">
            <i class="fa-solid fa-mug-hot"></i> featured stuff
        </h3>

        <div class="portfolio-projects">
            <div class="project-card">
                <h4><i class="fa-brands fa-rust"></i> cutler</h4>
                <p>
                    🍺 cutler is a powerful, declarative settings manager CLI
                    for your Mac. Inspired by the Nix Package Manager.
                </p>
                <p class="faded">"Rust with syscalls."</p>
                <a href="https://cutlercli.github.io/" class="button"
                    >View Project</a
                >
                <dialog>
                    <article>
                        <header>
                            <button
                                class="close-dialog"
                                aria-label="Close"
                                rel="prev"
                            ></button>
                            <p>
                                <strong>quick-install.md</strong>
                            </p>
                        </header>
                        <p>
                            One of my favorite hobby projects with
                            <a href="https://crates.io/crates/cutler"
                                >45,000+ downloads on crates.io</a
                            >. Try it out by simply typing one of these commands
                            below. <br /><br />You can also check out
                            <a href="https://cutlercli.github.io/cookbook"
                                >"The cutler Cookbook"</a
                            >
                            for in-depth documentation on more installation
                            methods and usage.
                        </p>
                        <h4>install script</h4>
                        <code class="copyable"
                            >curl -fsSL
                            https://cutlercli.github.io/scripts/install.sh |
                            /bin/bash</code
                        >
                    </article>
                </dialog>
            </div>

            <div class="project-card">
                <h4>
                    <i class="fa-brands fa-python"></i>
                    avro.py
                </h4>
                <p>
                    A modern
                    <span class="pretty-highlight">Pythonic</span>
                    implementation of the popular Bengali phonetic-typing
                    software Avro Phonetic.
                </p>
                <p class="faded">A pure Python project.</p>
                <a href="https://github.com/hitblast/avro.py" class="button"
                    >View Project</a
                >
                <dialog>
                    <article>
                        <header>
                            <button
                                class="close-dialog"
                                aria-label="Close"
                                rel="prev"
                            ></button>
                            <p>
                                <strong>quick-install.md</strong>
                            </p>
                        </header>
                        <p>
                            My
                            <span class="pretty-highlight"
                                >largest Python library</span
                            >
                            project yet, having over
                            <a href="https://pepy.tech/project/avro-py"
                                >280,000+ downloads on PyPI</a
                            >. You can also install it using:
                        </p>
                        <h4>pip</h4>
                        <code class="copyable">pip install avro.py</code>
                        <h4>uv (add to project)</h4>
                        <code class="copyable">uv add avro.py</code>
                    </article>
                </dialog>
            </div>

            <div class="project-card">
                <h4><i class="fa-brands fa-flutter"></i> Alter</h4>
                <p>
                    Alter is a minimal
                    <span class="pretty-highlight">macOS app</span> which can be
                    used to customize your app icons with ease.
                </p>
                <p class="faded">Wish I wrote this in Rust, but whatever.</p>
                <a href="https://hitblast.github.io/Alter/" class="button"
                    >View Project</a
                >
                <dialog>
                    <article>
                        <header>
                            <button
                                class="close-dialog"
                                aria-label="Close"
                                rel="prev"
                            ></button>
                            <p>
                                <strong>quick-install.md</strong>
                            </p>
                        </header>
                        <p>
                            My
                            <span class="pretty-highlight"
                                >first macOS app</span
                            >
                            which taught me about plenty of things like altering
                            <code>defaults</code>, System Integrity Protection,
                            CFBundle attributes, all while I tried to make a
                            <span class="pretty-highlight">business logic</span>
                            for changing other app icons. <br /><br />
                            Install it using:
                        </p>
                        <h4>homebrew</h4>
                        <code class="copyable"
                            >brew install --cask hitblast/tap/alter</code
                        >
                    </article>
                </dialog>
            </div>

            <div class="project-card">
                <h4><i class="fa-brands fa-python"></i> IgKnite</h4>
                <p>
                    Unified, swiss-grade moderation & music bot for Discord.
                    Includes async I/O and a stable core.
                </p>
                <p class="faded">
                    "That one project which inspired you to do everything in the
                    first place."
                </p>
                <a href="https://github.com/hitblast/IgKnite" class="button"
                    >View Project</a
                >
                <dialog>
                    <article>
                        <header>
                            <button
                                class="close-dialog"
                                aria-label="Close"
                                rel="prev"
                            ></button>
                            <p>
                                <strong>quick-install.md</strong>
                            </p>
                        </header>
                        <p>
                            <span class="warn-highlight"
                                >No quick-install for this one!</span
                            >
                            I suggest you close this dialog and check out the
                            project from its GitHub repo instead :P
                        </p>
                    </article>
                </dialog>
            </div>
        </div>
    </section>

    <section id="homebrew-tap">
        <h3 class="center faded">
            <i class="fa-solid fa-cube"></i> homebrew apps/tools
        </h3>
        <div class="center">
            <code class="copyable">brew tap hitblast/tap</code>
        </div>
    </section>

    <section id="bini">
        <center>
            <img
                id="bini-image"
                src="{{ get_url(path='images/bini.gif') }}"
                data-happy-src="{{ get_url(path='images/bini.gif') }}"
                width="150px"
            />
            <br /><br />
            <div class="before-footer">
                This is bini.<br />
                You can't pat bini (she's allergic).<br />
                But you can sure pat blep above.<br />
            </div>
        </center>
    </section>
</main>
{% endblock content %}
