{% extends "base.html" %} {% block content %}
<section id="intro-with-blep">
    <center>
        <span id="random-message"></span>
        <img
            id="blep"
            src="{{ get_url(path='images/blep.gif') }}"
            data-happy-src="{{ get_url(path='images/blep_happy.gif') }}"
        />
    </center>
</section>

<div class="links">
    <span
        id="copy-btn"
        data-copyable="{{ get_url(path='rss.xml', trailing_slash=false )}}"
        data-copynotif="copied feed URL!"
        class="icon"
        data-src="{{ get_url(path='svg/rss.svg') }}"
    ></span>

    <a class="icon-link" target="_blank" href="https://github.com/hitblast">
        <span
            class="icon"
            data-src="{{ get_url(path='svg/github.svg') }}"
        ></span>
    </a>
    <a
        class="icon-link"
        target="_blank"
        rel="me"
        href="https://fosstodon.org/@hitblast"
    >
        <span
            class="icon"
            data-src="{{ get_url(path='svg/mastodon.svg') }}"
        ></span>
    </a>
    <a
        class="icon-link"
        target="_blank"
        href="https://linkedin.com/in/hitblast"
    >
        <span
            class="icon"
            data-src="{{ get_url(path='svg/linkedin.svg') }}"
        ></span>
    </a>
    <a
        class="icon-link"
        target="_blank"
        href="https://bsky.app/profile/hitblast.github.io"
    >
        <span
            class="icon"
            data-src="{{ get_url(path='svg/bluesky.svg') }}"
        ></span>
    </a>
    <a
        class="icon-link"
        target="_blank"
        href="https://steamcommunity.com/id/hitblast/"
    >
        <span
            class="icon"
            data-src="{{ get_url(path='svg/steam.svg') }}"
        ></span>
    </a>
</div>

<section id="blog">
    <h1>readables</h1>

    {% set blogs = get_section(path="blog/_index.md") %} {% set pages =
    blogs.pages %} {% if pages | length == 0 %}
    <p>No blog posts yet. Check back soon!</p>
    {% else %} {% for page in pages | slice(end=2) %}
    <div class="blog-post">
        *
        <a class="blog-post-title" href="{{ page.permalink | safe }}"
            >{{ page.title }}</a
        >
        <p>{{ page.description }}</p>
    </div>
    {% endfor %}

    <br />
    <center>
        Care to read more?
        <a href="{{ get_url(path='@/blog/_index.md', trailing_slash=false) }}"
            >View the blog >></a
        >
    </center>
    {% endif %}
</section>

<section id="portfolio">
    <center>
        <h1>
            <span
                class="icon"
                data-src="{{ get_url(path='svg/sparkles.svg') }}"
            ></span>
            curated slop,
        </h1>
        <p>since everyone believes AI gives them x% efficiency gains.</p>
        <p class="faded">(these aren't AI projects)</p>
    </center>
    <div class="portfolio-projects">
        <div class="project-card">
            <div class="project-card-content">
                <h4>cutler</h4>
                <p>
                    A powerful, declarative setup automation tool for your Mac.
                    Inspired by Nix & chezmoi.
                </p>
                <p class="faded">Why be mouthfed if you can automate?</p>
            </div>
            <div class="project-card-footer">
                <a href="https://machlit.github.io/cutler">Docs</a>
                <a href="https://github.com/machlit/cutler">Repository</a>
                <a href="https://docs.rs/cutler">API Ref.</a>
            </div>
        </div>

        <div class="project-card">
            <div class="project-card-content">
                <h4>avro.py</h4>
                <p>
                    A modern
                    <i>Pythonic</i>
                    implementation of the popular Bengali phonetic-typing
                    software Avro Phonetic.
                </p>
                <p class="faded">
                    Made in pure Python. @mugli is a huge inspiration figure.
                </p>
            </div>
            <div class="project-card-footer">
                <a href="https://github.com/hitblast/avro.py">Repository</a>
                <a href="https://pepy.tech/projects/avro-py">Stats</a>
                <a href="https://pypi.org/project/avro.py">PyPI</a>
            </div>
        </div>

        <div class="project-card">
            <div class="project-card-content">
                <h4>defaults-rs</h4>
                <p>
                    A near drop-in replacement for the macOS
                    <i>defaults</i> CLI with API bindings for Rust.
                </p>
                <p class="faded">
                    Ended up stealing my time and in turn got matured into a
                    CLI.
                </p>
            </div>

            <div class="project-card-footer">
                <a href="https://github.com/machlit/defaults-rs">Repository</a>
                <a href="https://docs.rs/defaults-rs">API Reference</a>
            </div>
        </div>

        <div class="project-card">
            <div class="project-card-content">
                <h4>Alter</h4>
                <p>
                    Alter is a minimal macOS app which can be used to customize
                    your app icons with ease.
                </p>
                <p class="faded">Could've rewritten in Rust.</p>
            </div>
            <div class="project-card-footer">
                <a href="https://hitblast.github.io/Alter/">Website</a>
                <a href="https://github.com/hitblast/Alter/">Repository</a>
            </div>
        </div>

        <div class="project-card">
            <div class="project-card-content">
                <h4>cornelli</h4>
                <p>Write to your <i>future</i> self.</p>
                <p class="faded">
                    Got a whole blog entry on this one; maybe you should check
                    that out ^w^.
                </p>
            </div>
            <div class="project-card-footer">
                <a href="https://github.com/hitblast/cornelli">Repository</a>
            </div>
        </div>

        <div class="project-card">
            <div class="project-card-content">
                <h4>IgKnite</h4>
                <p>Unified, swiss-grade moderation & music bot for Discord.</p>
                <p class="faded">
                    First proper Python project, ever. Lost all the stars in a
                    repo deletion though.
                </p>
            </div>
            <div class="project-card-footer">
                <a href="https://github.com/hitblast/IgKnite">Repository</a>
            </div>
        </div>
    </div>
</section>

<section id="neighbours">
    <h3>
        <span
            class="icon"
            data-src="{{ get_url(path='svg/people.svg') }}"
        ></span>
        social coleslaw
    </h3>

    <p>
        All that extra padding for people I'm yet to meet. For now, you can
        click on these cards to travel to my neighbours' pages.
    </p>

    <p class="neighbour-cards-tag">gateways</p>

    <div class="neighbour-cards">
        <a
            class="neighbour-card"
            href="https://furtidev.github.io"
            target="_blank"
        >
            <img
                src="https://furtidev.github.io/images/button.png"
                alt="furtidev's 88x31 button"
                title="furtidev's site"
            />
        </a>
        <a
            class="neighbour-card"
            href="https://dec1phr.github.io/"
            target="_blank"
            ><img src="https://dec1phr.github.io/skull.png"
        /></a>
    </div>
</section>

<center>
    <img id="bini" src="{{ get_url(path='images/bini.gif') }}" />
    <button
        id="copy-btn"
        data-copynotif="copied! paste it in your website now."
        data-copyable="<a target='_blank' rel='hitblast' href='https://hitblast.github.io/'><img src='https://hitblast.github.io/postcard.png' style='image-rendering: pixelated'/></a>"
    >
        <img
            id="postcard"
            src="{{ get_url(path='postcard.png', cachebust=true) }}"
        />
    </button>
    <br /><br />
    <div class="before-footer">
        This is bini.<br />
        You can't pat bini (she's allergic). <br />
        Click the GPU to make me your neighbor! :D
    </div>
</center>
{% endblock content %}
